[submodule "vendor/github.com/Sirupsen/logrus"]
    path = vendor/github.com/Sirupsen/logrus
    url = https://github.com/Sirupsen/logrus.git
[submodule "vendor/github.com/fsouza/go-dockerclient"]
    path = vendor/github.com/fsouza/go-dockerclient
    url = https://github.com/fsouza/go-dockerclient.git
